.login__logo {
  text-align: center;
}

.login__main__title{
  font-size: 20px;
}

.login__main__forgetpass {
  margin: 0px 0px 0px auto;
}

#form-to-log{
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(39, 34, 34, 0.4);
}

.forgot-password {
  color: red;
}

.reset-password {
  color: red;
}

@media only screen and (max-width: 1000px) {
  #img-left {
    display: none;
  }

  #img-right {
    display: none;
  }
}

/* Show alert */
.alert {
  position: fixed !important; 
}

[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 15px;
  }
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  cursor: pointer;
  color: purple;
}
/* End Show alert */