.login__logo {
  text-align: center;
}

.login__main__title{
  font-size: 20px;
}

.login__main__forgetpass {
  margin: 0px 0px 0px auto;
}

#form-to-log{
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(39, 34, 34, 0.4);
}

.forgot-password {
  color: red;
}

.reset-password {
  color: red;
}

@media only screen and (max-width: 1000px) {
  #img-left {
    display: none;
  }

  #img-right {
    display: none;
  }
}